<a href="https://colab.research.google.com/github/ymsang/AI_projects/blob/main/Copy_of_n222a_random_forests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 2 / NOTE 2*

# üìù Assignment
---

# ÎûúÎç§Ìè¨Î†àÏä§Ìä∏(Random Forests)

### 1) Ï∫êÍ∏Ä ÎåÄÌöåÎ•º Ïù¥Ïñ¥ÏÑú ÏßÑÌñâÌï©ÎãàÎã§. EDA, Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ Î∂ÄÎ∂ÑÏùÑ ÏóÖÎç∞Ïù¥Ìä∏ ÌïòÏÑ∏Ïöî.
- EDAÎäî Ìï≠ÏÉÅ ÏôÑÎ≤ΩÌï† Ïàò ÏóÜÏßÄÏöî Ìïú Ï£ºÍ∞Ñ Í≥ÑÏÜç Í∞ôÏùÄ Îç∞Ïù¥ÌÑ∞Î°ú Í≥ºÏ†úÎ•º ÏßÑÌñâÌïòÎØÄÎ°ú Î∂ÄÏ°±Ìïú Î∂ÄÎ∂ÑÏùÑ Ï∂îÍ∞ÄÌïòÍ±∞ÎÇò ÎÖºÌïòÏÑ∏Ïöî.
- (ÏßÄÍ∏àÏùÄ feature engineeringÏóê ÎÑàÎ¨¥ ÏãúÍ∞ÑÏùÑ Îì§Ïù¥ÏßÄ ÎßàÏÑ∏Ïöî!)
- Ordinal EncodingÏùÑ Ï†ÅÏö©Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **(Í∞ùÍ¥ÄÏãù) Îã§Ïùå ÌäπÏÑ±Îì§ Ï§ëÏóê ÏàúÏÑúÎ•º Í≥†Î†§Ìïú Ordinal EncodingÏù¥ ÌïÑÏöîÌï¥ Î≥¥Ïù¥Îäî ÌäπÏÑ±ÏùÑ ÏÑ†ÌÉùÌïòÍ≥† Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**
    1. opinion_h1n1_vacc_effective
    2. state
    3. marital
    4. employment_occupation

In [16]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

import pandas as pd

target = 'vacc_h1n1_f'
# target = 'vacc_seas_f'
train = pd.merge(pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/train.csv'), 
                 pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/train_labels.csv')[target], left_index=True, right_index=True)
test = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/test.csv')
sample_submission = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/vacc_flu/submission.csv')

In [17]:
train.head().T

                                                   0  ...                                              4
h1n1_concern                                     NaN  ...                                              1
h1n1_knowledge                                   NaN  ...                                              2
behavioral_antiviral_meds                        NaN  ...                                              0
behavioral_avoidance                             NaN  ...                                              1
behavioral_face_mask                             NaN  ...                                              0
behavioral_wash_hands                            NaN  ...                                              1
behavioral_large_gatherings                      NaN  ...                                              0
behavioral_outside_home                          NaN  ...                                              0
behavioral_touch_face                            NaN  ...                                              1
doctor_recc_h1n1                                   0  ...                                              0
doctor_recc_seasonal                               0  ...                                              0
chronic_med_condition                              0  ...                                              0
child_under_6_months                             NaN  ...                                              0
health_insurance                                   1  ...                                              1
health_worker                                    NaN  ...                                              0
opinion_h1n1_vacc_effective                      NaN  ...                                 Very Effective
opinion_h1n1_risk                                NaN  ...                                       Very Low
opinion_h1n1_sick_from_vacc                      NaN  ...                             Not At All Worried
opinion_seas_vacc_effective                      NaN  ...                           Not At All Effective
opinion_seas_risk                                NaN  ...                                       Very Low
opinion_seas_sick_from_vacc                      NaN  ...                             Not At All Worried
agegrp                                 10 - 17 Years  ...                                  55 - 64 Years
education_comp                                   NaN  ...                                              3
raceeth4_i                                         3  ...                                              3
sex_i                                              1  ...                                              2
inc_pov                                            2  ...                                              2
marital                                          NaN  ...                                              1
rent_own_r                                         2  ...                                              1
employment_status                                NaN  ...                                       Employed
census_region                                      4  ...                                              3
census_msa                   MSA, Not Principle City  ...                        MSA, Not Principle City
n_adult_r                                          2  ...                                              3
household_children                                 3  ...                                              0
n_people_r                                         5  ...                                              3
employment_industry                              NaN  ...                  Education Services Industries
employment_occupation                            NaN  ...  Office and Administrative Support Occupations
hhs_region                                         9  ...                                              4
state                                     CALIFORNIA  ...                                        ALABAMA
vacc_h1n1_f                                        0  ...                                              1

[39 rows x 5 columns]

In [18]:
#train ÏùÑ ÌõàÎ†®/Í≤ÄÏ¶ù ÏÑ∏Ìä∏Î°ú Î∂ÑÎ¶¨

from sklearn.model_selection import train_test_split
train, val = train_test_split(train, train_size=0.80, test_size=0.20, 
                              stratify=train[target], random_state=2)


train.shape, val.shape, test.shape

((33723, 39), (8431, 39), (28104, 38))

In [5]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 81kB 3.2MB/s
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [20]:
#ordinal encoder

from category_encoders import OrdinalEncoder
enc = OrdinalEncoder()
enc.fit(train)

OrdinalEncoder(cols=['opinion_h1n1_vacc_effective', 'opinion_h1n1_risk',
                     'opinion_h1n1_sick_from_vacc',
                     'opinion_seas_vacc_effective', 'opinion_seas_risk',
                     'opinion_seas_sick_from_vacc', 'agegrp',
                     'employment_status', 'census_msa', 'employment_industry',
                     'employment_occupation', 'state'],
               drop_invariant=False, handle_missing='value',
               handle_unknown='value',
               mappi...
ILLINOIS               22
RHODE ISLAND           23
VIRGINIA               24
COLORADO               25
SOUTH DAKOTA           26
MICHIGAN               27
VERMONT                28
KANSAS                 29
INDIANA                30
ARIZONA                31
WYOMING                32
NEW YORK               33
NORTH CAROLINA         34
CALIFORNIA             35
MISSOURI               36
NEW MEXICO             37
OHIO                   38
TENNESSEE              39
FLORIDA                40
NEW HAMPSHIRE          41
IDAHO                  42
MAINE                  43
ALASKA                 44
WISCONSIN              45
OKLAHOMA               46
MASSACHUSETTS          47
NORTH DAKOTA           48
WASHINGTON             49
NEBRASKA               50
HAWAII                 51
NaN                    -2
dtype: int64}],
               return_df=True, verbose=0)

### 2) ÎûúÎç§Ìè¨Î†àÏä§Ìä∏ Î™®Îç∏ÏùÑ Ï†ÅÏö©Ìïú ÌõÑÏùò Í≤∞Í≥ºÎ•º Ï∫êÍ∏ÄÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.
- ÎûúÎç§Ìè¨Î†àÏä§Ìä∏Î•º Ï†ÅÏö©ÌïòÍ≥† ÏÑ±Îä•Ïù¥ Ïò§ÌûàÎ†§ Îñ®Ïñ¥Ï°åÏùÑ ÏàòÎèÑ ÏûàÏäµÎãàÎã§! ÎßåÏïΩ Í∑∏Î†áÎã§Î©¥ Ïù¥Ïú†Î•º Î≥∏Ïù∏ ÎÖºÎ¶¨Î°ú Î∂ÑÏÑùÌï¥ Î≥¥ÏÑ∏Ïöî.
- **Ï∫êÍ∏Ä LeaderboardÏùò Î≥∏Ïù∏ ScoreÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [21]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

def engineer(df):
    """ÌäπÏÑ±ÏùÑ ÏóîÏßÄÎãàÏñ¥ÎßÅ ÌïòÎäî Ìï®ÏàòÏûÖÎãàÎã§."""
    
    # ÎÜíÏùÄ Ïπ¥ÎîîÎÑêÎ¶¨Ìã∞Î•º Í∞ÄÏßÄÎäî ÌäπÏÑ±ÏùÑ Ï†úÍ±∞Ìï©ÎãàÎã§.
#     selected_cols = df.select_dtypes(include=['number', 'object'])
#     colnames = selected_cols.columns.tolist()
#     labels = selected_cols.nunique()
    
#     selected_features = labels[labels <= 30].index.tolist()
#     df = df[selected_features]
    
    # ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§.
    behaviorals = [col for col in df.columns if 'behavioral' in col] 
    df['behaviorals'] = df[behaviorals].sum(axis=1)
    
    
    dels = [col for col in df.columns if ('employment' in col or 'seas' in col)]
    df.drop(columns=dels, inplace=True)
        
    return df


train = engineer(train)
val = engineer(val)
test = engineer(test)

In [22]:
# ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î•º ÌäπÏÑ±Í≥º ÌÉÄÍ≤üÏúºÎ°ú Î∂ÑÎ¶¨

features = train.drop(columns=[target]).columns

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

In [44]:
#ÎûúÎç§Ìè¨Î†àÏä§Ìä∏ Ï†ÅÏö©

from category_encoders import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer 
from sklearn.pipeline import make_pipeline

# ordinal encoding
pipe_ord = make_pipeline(
    OrdinalEncoder(), 
    SimpleImputer(), 
    RandomForestClassifier(random_state=10, n_jobs=-1, oob_score=True)
)

pipe_ord.fit(X_train, y_train)
print('Í≤ÄÏ¶ù Ï†ïÌôïÎèÑ', pipe_ord.score(X_val, y_val))

Í≤ÄÏ¶ù Ï†ïÌôïÎèÑ 0.8254062388803226

In [46]:
y_test_pred = pipe.predict(X_test)
y_test_pred

array([0, 0, 0, ..., 0, 1, 0])

submission ÌååÏùº ÎßåÎì§Í∏∞

In [24]:
sample_submission

          Id  vacc_h1n1_f
0          0            0
1          1            1
2          2            1
3          3            1
4          4            0
...      ...          ...
28099  28099            0
28100  28100            1
28101  28101            1
28102  28102            0
28103  28103            0

[28104 rows x 2 columns]

In [47]:
submission = sample_submission.copy()
# display(submission.head())
submission['vacc_h1n1_f'] = y_test_pred
submission = submission.set_index('Id')
# display(submission.head())
submission.to_csv('submission_v2_1.csv')

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

### 3) ÏàòÏóÖÏóê ÏÇ¨Ïö©ÌïòÏßÄ ÏïäÏùÄ Îã§Î•∏ Ï¢ÖÎ•òÏùò [category_encoders](http://contrib.scikit-learn.org/category_encoders/)ÏùÑ Ï†ÅÏö©Ìï¥ Î≥¥Í≥† Ïù∏ÏΩîÎçîÏóê ÎåÄÌï¥ ÏÑ§Î™ÖÌïòÏÑ∏Ïöî

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

## Ï∞∏Í≥†ÏûêÎ£å

- [Random Forests for Complete Beginners](https://victorzhou.com/blog/intro-to-random-forests/)